@charset "utf-8";
@import "functions";
@import "variables";
@import "mixins";
@import "reboot";
@import "grid";
@import "utilities/flex";
// custom variables
$transition3s: all 0.3s ease-in-out;
$transition5s: all 0.5s ease-in-out;
$black:rgb(0, 0, 0);
@import "https://fonts.googleapis.com/css?family=Playfair+Display:700,700i";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900";
/* custom styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $black
}
/* typography */
a {
    text-decoration: none;
    transition: $transition3s;
}
a:hover {
    text-decoration: none;
    transition: $transition3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}
.text-justify {
    text-align: justify;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.font-75 {
    font-size: 75px
}
.font-50 {
    font-size: 50px;
}
.font-25 {
    font-size: 25px;
}
.font-20 {
    font-size: 20px;
}
.semi-bold {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.ex-bold {
    font-weight: 900;
}
.regular {
    font-weight: 300;
}
.italics {
    font-style: italic;
}
.play {
    font-family: 'Playfair Display', serif;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
ul {
    padding: 0;
    list-style: none;
}
/* common classes */
.main-section {
    padding: 50px 0;
    display: inline-block;
    width: 100%;
    position: relative;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.row-warp {
    flex-flow: row wrap;
}
.fill {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fill-75 {
    width: 75%;
}
.btn {
    cursor: pointer;
    border-radius: 25px;
    padding: 6px 30px;
    background-color: #298619;
    border: 2px solid #298619;
    display: inline-block;
    color: $white;
    transition: $transition3s;
    img {
        width: 24px !important;
        height: 24px;
        transition: $transition3s
    }
    &:hover {
        color: $white;
        transition: $transition3s
    }
    &:hover img {
        transform: translateX(5px);
        transition: $transition3s
    }
}
.mg-tp15 {
    margin-top: 15px;
}
.mg-bt15 {
    margin-bottom: 15px;
}
.mg-tp20 {
    margin-top: 20px;
}
.mg-bt20 {
    margin-bottom: 20px;
}
.mg-tp25 {
    margin-top: 25px;
}
.mg-bt25 {
    margin-bottom: 25px;
}
.mg-tp35 {
    margin-top: 35px;
}
.mg-bt35 {
    margin-bottom: 35px;
}
.mg-tp45 {
    margin-top: 45px;
}
.mg-bt45 {
    margin-bottom: 45px;
}
.mg-tp55 {
    margin-top: 55px;
}
.mg-bt55 {
    margin-bottom: 55px;
}
.mg-tp60 {
    margin-top: 60px;
}
.mg-bt60 {
    margin-bottom: 60px;
}
.pad-0 {
    padding: 0;
}
.pad-lt-10 {
    padding-left: 10px;
}
.pad-lr10 {
    padding: 0 10px
}
@media only screen and (max-width: 768px) {
    .font-50 {
        font-size: 1.5em;
    }
    .fill-75 {
        width: 100%;
    }
}
/* header */
.header-cover {
    position: relative
}
.header {
    width: 100%;
    opacity: 1;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: rgba(0, 0, 0, 0.34);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-duration: .7s;
    transition-property: height, top, opacity;
    box-shadow: rgba(30, 50, 50, .25) 0 .05em .5em;
}
.header.on {
    background-color: rgba(0, 0, 0, 0.83);
    transition: $transition5s
}
.header.hide {
    top: -15%;
    height: 0;
    opacity: 0;
}
.header.header-scrolled {
    background: rgba(20, 2, 0, 0.8);
    transition: all 0.5s;
}
.view-pages {
    background-color: #298619;
}
.header-top ul {
    text-align: right;
    margin-right: 5px;
}
@media (max-width: 673px) {
    #logo {
        margin-left: 20px;
    }
}
.header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
}
.header #logo h1 a,
.header #logo h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid #b68834;
}
.header #logo img {
    padding: 0;
    margin: 0;
}
@media (max-width: 768px) {
    .header #logo h1 {
        font-size: 28px;
    }
    .header #logo img {
        max-height: 40px;
    }
}
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    padding: 5px 10px;
}
.view-pages .nav-menu {
    background-color: rgba(0, 0, 0, 0.18);
}
.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}
.nav-menu > li {
    float: left;
}
.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}
.nav-menu ul ul {
    top: 0;
    left: 100%;
}
.nav-menu ul li {
    min-width: 180px;
    text-align: left;
}
/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 30px;
}
.sf-arrows .sf-with-ul:after {
    content: "";
    position: absolute;
    right: 8px;
    background-image: url(../images/icons/angle-down-white.svg);
    width: 20px;
    height: 20px;
    background-size: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}
/* Nav Meu Container */
#nav-menu-container {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}
@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}
/* Nav Meu Styling */
.nav-menu a {
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}
.nav-menu a:hover {
    color: rgb(41, 134, 25);
}
.menu-active a {
    font-weight: 800;
}
.nav-menu ul {
    margin: 16px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}
.nav-menu ul li {
    transition: 0.3s;
}
.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none;
}
.nav-menu ul li:hover > a {
    color: rgb(41, 134, 25);
}
.nav-menu ul ul {
    margin: 0;
}
/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 16px;
    border: 0;
    display: none;
    transition: $transition3s;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
.lnr-menu {
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.lnr-menu span {
    width: 100%;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: 7px 0;
    transition: $transition5s
}
.mobile-nav-active .lnr-menu span:nth-child(1) {
    transform: rotate(45deg) translateX(5px);
    transition: $transition5s
}
.mobile-nav-active .lnr-menu span:nth-child(2) {
    display: none;
    transition: $transition5s
}
.mobile-nav-active .lnr-menu span:nth-child(3) {
    transform: rotate(-45deg) translateX(5px);
    transition: $transition5s
}
#mobile-nav-toggle i {
    color: #fff;
    font-weight: 900;
}
@media (max-width: 800px) {
    #mobile-nav-toggle {
        display: inline;
    }
    #nav-menu-container {
        display: none;
    }
}
/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}
#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mobile-nav ul li {
    position: relative;
}
#mobile-nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 400;
}
#mobile-nav ul li a:hover {
    color: #fff;
}
#mobile-nav ul li li {
    padding-left: 30px;
}
#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}
#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #b68834;
}
#mobile-nav ul .menu-has-children li a {
    text-transform: none;
}
#mobile-nav ul .menu-item-active {
    color: #b68834;
}
#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}
body.mobile-nav-active #mobile-nav {
    left: 0;
}
body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}
.lang-select {
    position: relative;
    width: 122px;
    display: flex;
    select {
        background: transparent;
        color: #fff;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        appearance: none;
        border: 0;
    }
    &:after {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        right: 15px;
        content: "";
        z-index: 98;
        transform: translateY(-50%);
    }
}
/* sidemenu */
.menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 349px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.79);
    z-index: 999;
    padding-right: 60px;
    padding-top: 87px;
    padding-left: 50px;
}
.menu.active {
    right: 0;
}
.menu-close-container {
    position: absolute;
    top: 30px;
    right: 60px;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    transform: rotate(45deg);
    cursor: pointer;
}
.menu-close {
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
}
.menu-close div {
    width: 100%;
    height: 2px;
    background: #fff;
    top: 8px;
    transition: all 200ms ease;
}
.menu-close div:last-of-type {
    transform: rotate(90deg) translateX(-2px);
    transform-origin: center;
}
.menu-nav ul li {
    margin-bottom: 11px;
}
.menu-nav ul li a {
    text-transform: uppercase;
    color: $white;
    transition: all 200ms ease;
}
.menu-nav ul li a:hover {
    color: rgb(87, 124, 34);
}
.menu .search {
    width: 100%;
    margin-bottom: 67px;
}
.burger-container {
    width: 35px;
    background: rgb(255, 255, 255);
    height: 35px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.burger-container span {
    width: 70%;
    height: 2px;
    background: rgb(0, 0, 0);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    pointer-events: none;
    display: block;
    margin: 2px 0;
}
.burger-container:hover span {
    background: #298619;
}
.trans_400 {
    transition: all 400ms ease;
}
/* banner */
.banner-outer {
    min-height: 615px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.banner-content {
    align-items: flex-end;
    h1 {
        color: $white;
        font-weight: 200;
        span {
            font-size: 40px;
        }
    }
    .quick-enq {
        color: $white;
        img {
            width: 22px;
            height: 22px;
            transition: $transition3s;
        }
        &:hover {
            color: #298619;
        }
    }
}
@media (max-width: 768px) {
    .burger-container {
        display: none;
    }
    .banner-outer {
        min-height: 450px;
    }
}
/* banner */
.banner-content {
    h1 {
        color: $white;
        font-weight: 200;
        span {
            font-size: 34px;
        }
    }
    .quick-enq {
        color: $white;
        display: flex;
        font-weight: 400;
        &:hover img {
            transform: translate(5px);
            transition: $transition3s;
        }
        img {
            width: 22px;
        }
    }
}
.hero {
    background: #fff url(../images/loader.gif) no-repeat center center;
    width: 100%;
}
.slider-text-outer {
    min-height: 650px;
}
.btn-big {
    max-width: 50%;
    img {
        display: inherit !important;
        float: right;
        border-radius: 50%;
    }
    &:hover {
        background-color: #fff;
        border-color: #fff;
        color: rgb(41, 134, 25);
    }
    &:hover img {
        background-color: rgba(110, 110, 110, 0.47);
    }
}
@media (max-width: 768px) {
    .btn-big {
        max-width: 90%;
    }
    .banner-content h1 {
        font-size: 38px;
    }
    .banner-content h1 span {
        font-size: 20px;
    }
}
.hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0;
}
.hero .flexslider .slides {
    position: relative;
    overflow: hidden;
}
.hero .flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 650px;
    position: relative;
}
.hero .flexslider .slides li .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
    background: #000;
}
.hero .flexslider .flex-control-nav {
    bottom: 7em;
    z-index: 1000;
    width: 0 auto;
}
.hero .flexslider .flex-control-nav li a {
    background: rgb(255, 255, 255);
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 0;
}
.hero .flexslider .flex-control-nav {
    text-align: right;
    right: 10%;
}
.hero .flexslider .flex-control-nav li a.flex-active {
    cursor: pointer;
    background: transparent;
    background: rgb(41, 134, 25);
}
.hero .flexslider .flex-direction-nav {
    display: none;
}
.hero .flexslider .slider-text {
    width: 100%;
    opacity: 0;
    z-index: 9;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, 40px, 0);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: none;
    }
}
@media (max-width: 768px) {
    .hero .flexslider .slides li {
        min-height: 100vh;
    }
    .slider-text-outer {
        min-height: 100vh;
    }
    .banner-content {
        margin-top: 100px;
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.fadeInUp {
    animation-name: fadeInUp;
}
/**/
.round-btn {
    width: 58px;
    border-radius: 50%;
    height: 58px;
    background-color: rgb(255, 255, 255);
    &:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }
}
.video-sec {
    min-height: 550px;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    h2,
    p {
        color: $white;
    }
    p {
        width: 45%;
    }
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.31);
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    @media only screen and (max-width: 768px) {
        p {
            width: 90%;
        }
    }
}
.show-case-grid {
    position: relative;
    overflow: hidden;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
    color: $white;
    transition: $transition3s;
    img {
        width: 100%;
        min-height: 100%;
        transition: $transition3s
    }
    .caption {
        position: absolute;
        top: 70%;
        padding: 15px;
        z-index: 9;
        width: 100%;
        transition: $transition3s;
        a {
            display: inline-block;
            padding: 7px;
            color: $white;
            position: relative;
            opacity: 0;
            cursor: pointer;
            transition: all .3s cubic-bezier(.2, 0, 0, 1);
            z-index: 1;
            &:hover {
                color: $white;
            }
            &:after {
                content: '';
                display: block;
                height: 2px;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgb(41, 134, 25);
                transition: all .3s cubic-bezier(.2, 0, 0, 1);
                transform-origin: bottom center;
                z-index: -1;
            }
            &:hover:after {
                right: 0;
                left: 0;
                height: 100%;
            }
        }
    }
    .grid-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        transition: $transition3s;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 95%);
    }
    &:hover {
        transition: $transition3s
    }
    &:hover a {
        opacity: 1;
    }
    &:hover .caption {
        top: 80%;
        transform: translateY(-50%);
        transition: $transition3s
    }
    &:hover .grid-overlay {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.78) 85%);
        transition: $transition3s
    }
    &:hover img {
        transform: scale(1.05);
        transition: $transition3s
    }
}
.activites {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    li {
        flex: 0 0 25%;
        max-width: 25%;
        .show-case-grid {
            margin-bottom: 0;
        }
    }
    li:nth-child(5) {
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media only screen and (max-width: 768px) {
        li {
            flex: 0 0 100%;
            max-width: 100%;
        }
        li:nth-child(5) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.bg-overlay {
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.76);
    width: 100%;
    height: 100%;
    z-index: 24;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 46px;
}
#vid_frame {
    width: 50%;
    height: 320px;
    margin-bottom: 22px;
}
.riverfest-intro {
    min-height: 472px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.dark-bg {
    width: 50%;
    background-color: rgba(41, 134, 25, 0.88);
    color: rgb(255, 255, 255);
    display: flex;
    height: 472px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.dark-bg h2 {
    font-size: 56px;
}
.dark-bg a {
    font-size: 24px;
    color: rgb(221, 221, 221);
    font-weight: 400;
}
@media only screen and (max-width:768px) {
    #vid_frame {
        width: 100%;
    }
    .dark-bg h2 {
        font-size: 22px;
    }
    .dark-bg {
        width: 100%;
        height: 300px;
    }
    .riverfest-intro {
        min-height: 300px;
    }
}
/* innerpages */
.wrap {
    margin-top: 80px;
}
/*tourpackages */
.show-block {
    position: relative;
    z-index: 1;
    display: block;
    min-width: 100%;
    height: 345px;
    margin-bottom: 30px;
    transition: all 0.3s linear 0s;
}
.show-block .thumbnail {
    height: 345px;
    overflow: hidden;
}
.show-block .thumbnail img {
    display: block;
    width: 100%;
    transition: all 0.3s linear 0s;
}
.show-block .post-content {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    z-index: 9;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-content h4 {
    color: #fff;
}
.price span {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
.show-block .post-content .description {
    display: none;
    color: #fff;
    font-size: 14px;
    line-height: 1.8em;
}
.show-block .post-content .description p {
    margin: 5px 0;
    font-size: 15px;
    max-height: 180px;
    overflow: hidden;
}
.hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
}
.show-block .post-content .description .btn-medium {
    padding: 5px 35px;
    background-color: #fff;
    border-color: #fff;
    color: #000;
}
.grid-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: $transition3s;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 95%);
}
.show-block:hover .thumbnail img,
.hover .thumbnail img {
    transform: scale(1.1);
    opacity: 1;
}
.show-block:hover .thumbnail img {
    filter: blur(1px);
}
.show-block:hover .grid-overlay,
.overlay-active {
    background: linear-gradient(to bottom, rgba(0, 128, 0, 0.8) 50%, rgba(0, 128, 0, 0.9) 95%);
}
/* packgaes */
.inner-banner {
    background-position: center;
    background-size: cover;
    min-height: 410px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.inner-banner p {
    width: 75%;
}
.btn.btn-white {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    &:hover {
        background-color: transparent;
        color: #fff;
    }
}
.mrg-lr-15 {
    margin: 0 15px
}
.package-details {
    padding-bottom: 25px;
    border-bottom: 1px solid #298619;
}
.index h4 {
    span {
        font-weight: 300;
        color: #8d8d8d;
        margin-left: 5px;
    }
}
.favoured {
    padding: 0 20px;
}
@media only screen and (max-width:768px) {
    .favoured {
        padding: 0 0px;
    }
}
.gal-container {
    p {
        width: 75%
    }
    @media only screen and (max-width:768px) {
        p {
            width: 100%
        }
    }
}
.gallery {
    .gallery-menu ul {
        display: flex;
        justify-content: center;
    }
    ul li {
        margin: 0 20px
    }
    ul li a {
        display: block;
        padding: 10px 30px;
        background: #eee;
        color: #555;
        border-radius: 40px;
        font-family: 'Playfair Display', serif;
    }
    ul li a.active {
        font-style: italic;
        background: #298619;
        color: #fff;
    }
    .gallery-content {
        display: none;
        padding: 10px;
    }
    .gallery-item {
        width: 100%;
        .gal-title {
            background-color: #f4f4f4;
            padding: 10px 5px 10px;
        }
        .thumb img {
            width: 100%;
        }
        p {
            width: 100%;
        }
    }
    @media only screen and (max-width:768px) {
        ul li a {
            font-size: 15px;
            padding: 10px 5px;
            border-radius: 0px;
        }
        ul li {
            margin: 0;
        }
    }
}
.btm-bdr {
    padding-bottom: 45px;
    border-bottom: 1px solid #dfdfdf;
}
.rout {
    background-color: #f4f4f4;
    img {
        width: 100%;
    }
    .info {
        padding: 15px 15px 20px;
        p {
            padding: 15px 0;
        }
        .btn {
            padding: 5px 30px;
        }
    }
}
.show-ads {
    overflow: hidden;
    background-color: #ddd;
    img {
        width: 100%;
    }
    .btn {
        width: 80%;
    }
    a img {
        transition: $transition3s
    }
    &:hover a img {
        transform: scale(1.05);
        transition: $transition3s
    }
    @media only screen and (max-width:768px) {
        .btn {
            width: 95%;
        }
    }
}
.resorts-info-grid {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #ddd;
        top: 0;
        right: -10px;
    }
    .resorts-info {
        img {
            max-width: 100%;
            height: 100%;
        }
        h4 {
            font-size: 20px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            margin: 5px 0;
            li a img {
                width: 28px;
                margin-bottom: 5px;
            }
            li a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #5f5f5f;
                font-size: 15px;
            }
        }
    }
}
/* conatct page */

input.placeholder:ms-input-placeholder,
textarea.placeholder:ms-input-placeholder {
    color: #9e9e9e;
}
input.placeholder:-moz-placeholder,
textarea.placeholder:-moz-placeholder {
    color: #9e9e9e;
}
textarea.placeholder:-webkit-textarea-placeholder,
input.placeholder:-webkit-input-placeholder {
    color: #9e9e9e;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 15px;
    font-size: 14px;
    color: #000;
    background-color: transparent;
    background-image: none;
    border: 1px solid #298619;
    border-radius: 0;
    box-shadow: none;
    font-weight: 300;
}
.text-area {
    height: auto;
}
.contact-info {
    li {
        margin-bottom: 5px;
    }
    li a {
        color: #000;
        &:hover {
            color: rgb(41, 134, 25);
        }
    }
    li:nth-child(1) {
        margin-bottom: 10px;
    }
}
#map-canvas {
    width: 100%;
    height: 400px;
    min-height: 478px;
}




/* footer*/
.footer {
    background-color: #eaeaea;
    padding: 50px 0 0;
    h4 {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .address li {
        font-weight: 400;
        margin-bottom: 10px;
    }
    .address li a {
        color: $black;
    }
    .social-connect li i img {
        width: 27px;
        padding-bottom: 3px;
        border-bottom: 2px solid rgb(234, 234, 234);
        &:hover {
            transform: scale(1.09);
            border-bottom: 2px solid rgb(255, 255, 255);
        }
    }
    .quick-links li a {
        color: $black;
        &:hover {
            color: rgb(41, 134, 25)
        }
    }
    .social-feeds {
        img {
            margin-bottom: 20px;
            width: 215px;
        }
    }
    .chat {
        input {
            background: #ffff;
            width: 100%;
            border: none;
            border-radius: 2px;
            height: 45px;
            color: rgb(0, 0, 0);
            padding: 10px 0 10px 10px;
            box-shadow: none;
            outline: none;
            :focus {
                box-shadow: 0 0 0;
            }
        }
        button {
            cursor: pointer;
            border: 0;
            background-color: transparent;
            margin: 10px 0;
            font-size: 14px;
            color: #298619;
            border-bottom: 2px solid rgb(41, 134, 25);
            padding: 0;
            &:hover {
                color: rgb(117, 117, 117);
            }
        }
    }
    .social-connect {
        padding-top: 20px;
        border-top: 2px solid #ccc;
        margin-top: 20px;
        ul li {
            margin: 0 5px;
        }
    }
    .copy-right {
        background-color: #298619;
        padding: 23px 0;
        text-align: center;
        color: $white;
        margin-top: 25px;
        p {
            margin: 0;
        }
    }
}
#preloader {
    overflow: hidden;
    background-color: rgb(12, 12, 12);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
#preloader img {
    width: 184px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.vertical-centered-box {
    position: relative;
    width: 100%;
    height: 100%;
}
.vertical-centered-box .loader-content {
    font-size: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin-top: 80px;
}
.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
    margin-left: -40px;
    margin-top: -40px;
}
.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    overflow: hidden;
    transform-origin: 40px 40px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px rgb(255, 255, 255);
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
